<?php
// Managed by ansible

define( 'DB_NAME', '{{ wordpress_hosted_db_name }}' );
define( 'DB_USER', '{{ wordpress_hosted_db_user }}' );
define( 'DB_PASSWORD', '{{ wordpress_hosted_db_password }}' );
define( 'DB_HOST', '{{ wordpress_hosted_db_host }}' );

{% for k, v in wordpress_hosted_wp_config | dictsort() %}
define( '{{ k }}', {{ v }} );
{% endfor %}

$table_prefix  = '{{ wordpress_hosted_wp_config_table_prefix }}';

/** Absolute path to the WordPress directory. */
if ( !defined('ABSPATH') )
  define('ABSPATH', '{{ wordpress_hosted_app_root }}');

include (ABSPATH . 'wp-salts.php');

/** Sets up WordPress vars and included files. */
require_once(ABSPATH . 'wp-settings.php');
